.idea/
/node_modules/
/public/build/
/public/images/plantes/*.jpg
/public/images/plantes/*.jpeg
/public/images/plantes/*.png
/public/images/plantes/*.webp

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
