<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendrier des plantes</title>
    {{ vite_entry_link_tags('app') }}
</head>
<body>

<nav class="navbar navbar-dark bg-success mb-4">
    <div class="container">
        <a class="navbar-brand mb-0 h1" href="{{ path('app_index') }}" style="text-decoration: none;">Calendrier des plantes</a>
    </div>
</nav>

<div class="container">
    {% block body %}{% endblock %}
</div>

{{ vite_entry_script_tags('app') }}
</body>
</html>
